#laQlogo {
  padding: 0;
  display: table;
	margin: 0 auto;
}

#aniDiv {
  width: 100%;
}

#logoText {
  font-family: 'BRUSH SCRIPT MT';
  padding: 0;
  display: table;
  margin: 0 auto;
}

#quest{
 	margin-left: 83px;
 }
  #yes{
  	margin-left: 80px;
  }
  h4{
  	margin-left: 90px;
  }
  #ans{
  	margin-left: 83px;
  }