<div ng-controller="answerCtrl">
	 <span id="countdown" class="timer">You have 10 seconds</span><br>
<script>
var seconds = 10;
function secondPassed() {
    var minutes = Math.round((seconds - 30)/60);
    var remainingSeconds = seconds % 60;
    if (remainingSeconds < 10) {
        remainingSeconds = "0" + remainingSeconds;  
    }
    document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
    if (seconds == 0) {
        clearInterval(countdownTimer);
        document.getElementById('countdown').innerHTML = "The time is upp";
    } else {
        seconds--;
    }
}
 
var countdownTimer = setInterval('secondPassed()', 1000);
</script>
	<textarea id="quest">Ouest Blablablabla</textarea><br> 
	<image id="img" ></image>
	<button id="yes" ng-click="yes()">Jajjamensan</button>
	<button id="no" ng-click="no()">NoWayHosey</button>
	<h4>Eller skriv ett svar</h4>
	<textarea id="ans"  ng-model="thetext"> </textarea><br>
	<button id="ans" ng-click="answer()">answer</button>
</div>
