<div ng-controller="askFormCtrl">
    <form name="askForm" ng-submit="submitForm($event)">
        <div>
            <input name="title" type="text" ng-model="form.title" required>
            <br>
            <span ng-show="askForm.title.$error.required">Please enter your Q's title</span>
        </div>
        <div>
            Image: <input name="newImage" style="display:inLine;" type="file" ng-model="form.image" >
            <p>Choose an image from computer.</p>
        </div>
        <div>
            <textarea rows="4" name="question" ng-model="form.question" placeholder="Your own Text" required ></textarea>
            <br>
            <span ng-show="askForm.questiont.$error.required">Please enter your question</span>
        </div>
        <div>
            <input name="name" type="text" ng-model="form.name" placeholder="Anonymous">
            <br>
            <!--<span ng-show="askForm.name.$error.required">Please enter your name</span>-->

        </div>
        <input type="submit" value="Send" >
    </form>


</div>