<div id="fb-root">
	<div ng-controller="loginCtrl">
		<button id="fbLoginButton" ng-click="login()">FaceBookLogin</button> <br/><br/><br/>
		<button id="goToStartPage" ng-click="startpage()">goToStartPage</button>
	</div>
</div>