<div id="theChoices" ng-app="startpage" ng-controller="startpageCtrl">
	<button ng-click="newQ()"><h1>newQ</h1></button><br />
	<button ng-click="answerQ()"><h1>answerQ</h1></button><br />
	<button ng-click="myQs()"><h1>MyQs</h1></button><br />
</div>